## Playing with PUDL
This notebook is meant to help get you up and running with the PUDL database, so you can play with it!

### Importing external code.
We need to import a bunch of outside code to do our work here.  Sometimes we import entire packages (like `numpy` and `pandas`) and sometimes we just pull in a couple of pieces we need from a particular part of a large package (like `declarative_base`)

In [1]:
import sys
import os.path
import numpy as np
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine.url import URL

### Importing our own code
We also need to tell Python where to look to find our own code.  It has a list of directories that it looks in, but our little project isn't in that list, unless we add it -- which is what `sys.path.append()` does.  You'll need to change this path to reflect where on your computer the PUDL project folder (which you pull down with `git`) lives.

Once Python knows to look in the `pudl` project folder, it will let you import `pudl` modules just like any other Python module.  Here we're pulling in the `ferc1` and `pudl` modules from the `pudl` package (which is a directory inside the `pudl` project directory).

In [2]:
sys.path.append('/home/alana/Dropbox/catalyst/pudl')
from pudl import ferc1, models, settings, pudl, constants

ImportError: cannot import name 'FuelFERC1'

### Automatically reloading a work in progress
Because you're probably going to be editing the Python modules related to PUDL while you're working with this notebook, it's useful to have them get automatically reloaded before every cell is executed -- this means you're always using the freshest version of the module, with all your recent edits.

In [9]:
%load_ext autoreload
%autoreload 1
%aimport pudl.pudl
%aimport pudl.ferc1
%aimport pudl.constants
%aimport pudl.settings
%aimport pudl.models

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Connecting to our databases.
We have two different databases that we're working with right now.  The FERC Form 1 (`ferc1`) and our own PUDL database (`pudl`). For this software to work, you'll need to have the Postgresql database server running on your computer, and you'll need to have created empty databases to receive the tables and data we're going to create.  On a mac, the easiest Postgres install to get running is probably Postgress.app.  You'll need to fire it up at the command line at least once to create the databases (one called `ferc1` and another called `pudl_sandbox`) and a user named `catalyst` with no password.  This information is stored in the `settings` module if you need to look it up.

Here are two shortcuts for connecting to the two databases once they're created:

In [15]:
pudl_engine  = pudl.models.db_connect_pudl()
ferc1_engine = pudl.ferc1.db_connect_ferc1()

### Initializing the FERC Form 1 database
Now that you've got an empty database, let's put some data in it!  This function initializes the database by reading in the FERC Form 1 database structure from `refyear` and data from `years` (which can eventually be a list of years, but that's not working yet...). In order for this to work, you need to have the FERC Form 1 data downloaded into the data directory. There's a script called `get_ferc1.sh` down in `data/ferc/form1/` that will get it for you if you don't have it.

In [16]:
pudl.ferc1.init_db(refyear=2015, years=[2015,], ferc1_tables=pudl.constants.ferc1_default_tables)

### Initializing the PUDL database
We can also initialize the PUDL database now. Because we're messing around with it a lot, and playing with re-importing data over and over again, it's not a bad idea to destroy whatever old version of it exists in postgres (with `drop_tables_pudl`) and then re-create the tables anew (with `create_tables_pudl`).

Then we can actualy initialize some of the data (mostly glue tables connecting plants to utilities, and a few lists of constants like the US States for now) using `pudl.init_db()`. Eventually we'll need to tell this where to pull data from... but since we're not really putting any meaningful data into it yet, the function takes no arguments.

In [17]:
pudl.models.drop_tables_pudl(pudl_engine)
pudl.models.create_tables_pudl(pudl_engine)
pudl.pudl.init_db()

### Pulling data out of the database!
Now we're ready to pull some data out of one of the databases, just to show that it works. `pd.read_sql()` takes an SQL Query and a database connection, and puts the results of the query into a pandas DataFrame you can play with easily.

In [18]:
ferc1_fuel = pd.read_sql('''SELECT respondent_id, report_year, plant_name, fuel, fuel_unit, fuel_quantity,\
                                fuel_avg_heat, fuel_cost_delvd, fuel_cost_burned, fuel_cost_btu, fuel_cost_kwh,\
                                fuel_generaton \
                                FROM f1_fuel WHERE plant_name <> '' AND fuel NOT IN ('Total','') ''',ferc1_engine)

### Examining the data we pulled.
the `sample()` DataFrame method returns a random sample of records from the DataFrame, which is useful for seeing what kinds of things are in there, without always seeing just the first few records.

In [21]:
ferc1_fuel.sample(20)

,respondent_id,report_year,plant_name,fuel,fuel_unit,fuel_quantity,fuel_avg_heat,fuel_cost_delvd,fuel_cost_burned,fuel_cost_btu,fuel_cost_kwh,fuel_generaton
736,57,2015,MITCHELL NO. 4,Oil,Barrel,1037.0,138500.0,113.621,113.621,19.540,-1.708,-87391.304
809,56,2015,Ft. Myers,Oil,Barrels,1951.0,137508.0,118.972,118.972,20.600,0.000,0.000
525,98,2015,Laskin,Natural Gas,MCF,58725.0,1019643.0,0.171,0.171,0.168,0.000,0.000
1165,55,2015,Crystal River North,Oil,BBL,37140.0,5788323.0,155.308,151.862,26.236,0.001,29.390
451,145,2015,Valmont 6,Gas,mcf,19573.0,1033.0,5.440,5.440,5.260,0.080,15210.680
576,62,2015,Crist,Gas,MCF,383116.0,1020.0,10.689,10.480,10.477,17.720,21414.000
1266,454,2015,Acadia,Gas,MCF,4307872.0,1030000.0,0.000,2.683,2.605,0.019,7130.000
122,186,2015,Altavista,Gas,mcf,6112.0,1040.0,22.110,22.110,21.260,0.000,0.000
1312,6,2015,Mountaineer,Oil,Barrels,30115.0,136987.0,82.324,110.387,19.186,0.000,0.000
1369,45,2015,Oconee,MBTUs,,223409000.0,0.0,0.000,0.000,0.000,0.000,0.000
1399,144,2015,GIBSON,Coal,Tons,6219200.0,11397.0,54.517,55.923,2.453,0.026,10428.000
1329,119,2015,Bailly,Gas,MCF,151930.0,1033.0,0.000,0.000,0.000,0.000,11893.000
124,186,2015,Bellemeade,Gas,mcf,9665585.0,1071.0,2.840,3.040,2.840,0.024,0.000
995,87,2015,Waterford 1 & 2,0,0,0.0,0.0,0.000,0.000,0.000,0.000,11120.000
28,7,2015,Cholla 2,Oil,Bbls,2893.0,126416.0,105.600,259.539,48.882,0.551,0.000
480,134,2015,Hunter Unit No. 2,Composite,,0.0,0.0,0.000,0.000,1.960,0.020,10176.812
747,57,2015,WARNER ROBBINS,Gas,MCF,2229.0,1024.0,52.413,52.413,51.196,0.132,2578.531
90,82,2015,Brown CT,Gas,mcf,7028824.0,1025.0,2.731,2.731,2.664,0.032,12196.000
212,210,2015,River Hills,Coal,Tons,0.0,0.0,0.000,0.000,0.000,0.000,0.000
993,87,2015,Sterlington,Oil,BBL,0.0,0.0,0.000,0.000,0.000,0.000,0.000