In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import pandas as pd
import numpy as np
import sys
import os
import io
import shutil

import pudl
import pudl.glue.ferc1_eia
from pudl import init
from pudl import constants as pc
import tableschema
import hashlib
import datapackage
import json
import logging
from tableschema import Table
from tableschema import Schema
import datetime
import goodtables

In [ ]:
from pudl import ETL_pkg
from pudl.ETL_pkg import ETL_pkg, _input_validate
from pudl.ETL_pkg import _ETL_eia_pkg, _ETL_ferc1_pkg, _ETL_glue

In [ ]:
logger = logging.getLogger()
logger.setLevel(logging.INFO)
handler = logging.StreamHandler(stream=sys.stdout)
formatter = logging.Formatter('%(message)s')
handler.setFormatter(formatter)
logger.handlers = [handler]

In [ ]:
from sqlalchemy.engine import reflection
pudl_engine = init.connect_db(testing=False)
insp = reflection.Inspector.from_engine(pudl_engine)
# extract the table names
tbls = insp.get_table_names()
# extract only the ferc tables
ferc_tbls = [s for s in tbls if "ferc" in s]

If you want to generate the package for just ferc as an example, you can use the commented out ferc options below.

In [ ]:
name = "pudl-test"
title = "All tables integrated into PUDL."
tbls = tbls

#name = "pudl-ferc1"
#title =  "FERC Form 1 tables integrated into PUDL."
#tbls = ferc_tbls

In [ ]:
#tbls.remove('hourly_emissions_epacems')

In [ ]:
# we need this as the main info regarding this iteration of packaging
pkg_skeleton = {
    "name": name,
    "title": title,
    "description": "A full metadat description of all PUDL tables.",
    "keywords": [
        "ferc",
        "form 1",
        "energy",
        "electricity",
        "utility",
        "fuel",
        "expenses",
        "coal",
        "natural gas",
        "generation",
        "regulation"
    ]
}

this will generate metadata and csv's for every table in pudl. they will live in `results/data_pkgs`

In [ ]:
pkg = pudl.output.export.data_package(tbls,pkg_skeleton,out_dir=SETTINGS['meta_dir'], dry_run=True)

In [ ]:
out_dir = SETTINGS['out_dir']
settings_init = pudl.settings.settings_init(settings_file='settings_init_pudl_package.yml')

In [ ]:
metas = pudl.output.export.generate_data_packages(settings_init, debug=True)

- Cems_pkg
    - data
        - cems2017.csv.zip
        - cems2016.csv.zip
        - cems2015.csv.zip
        (see "Compression of Resources": http://frictionlessdata.io/specs/patterns/)
    - datapackage.json
        which includes a list of paths in "paths" in the resource
        (see "Data in Multiple Files": https://frictionlessdata.io/specs/data-resource/)


I need to convert the ETL cems process to generate years of cems at a time and write it compressed.

In [ ]:
import copy

In [2]:
pudl_settings = pudl.settings.init()

In [19]:
pkg_settings = pudl.settings.settings_init(os.path.join(pudl_settings['pudl_in'],'scripts','settings_init_pudl_package.yml'))

In [49]:
metas = pudl.output.export.generate_data_packages(pkg_settings, pudl_settings, debug=True)

Loading Glue plants dataframe into CSV
Loading Glue utilities dataframe into CSV
Loading Glue utilities_ferc dataframe into CSV
Loading Glue plants_ferc dataframe into CSV
Loading Glue utility_plant_assn dataframe into CSV
Loading Glue utilities_eia dataframe into CSV
Loading Glue plants_eia dataframe into CSV
Tables are consistent for glue_pkg package
Data package data validation failed.
Not loading FERC1
Tables are consistent for ferc1_pkg package
Not generating metadata for ferc1_pkg
Not loading EIA.
Tables are consistent for eia_pkg package
Not generating metadata for eia_pkg
Loading Static EIA Tables fuel_type_eia923 dataframe into CSV
Loading Static EIA Tables prime_movers_eia923 dataframe into CSV
Loading Static EIA Tables fuel_type_aer_eia923 dataframe into CSV
Loading Static EIA Tables energy_source_eia923 dataframe into CSV
Loading Static EIA Tables transport_modes_eia923 dataframe into CSV
Extracting EIA 923 spreadsheets for 2017.
Converting EIA 923 generation_fuel spreadsheet tab from 2017 into a pandas DataFrame
Converting EIA 923 stocks spreadsheet tab from 2017 into a pandas DataFrame
Converting EIA 923 boiler_fuel spreadsheet tab from 2017 into a pandas DataFrame
Converting EIA 923 generator spreadsheet tab from 2017 into a pandas DataFrame
Converting EIA 923 fuel_receipts_costs spreadsheet tab from 2017 into a pandas DataFrame
Beginning ETL for EIA 860.
Extracting data from EIA 860 enviro_assn spreadsheet for 2017.
Converting EIA 860 spreadsheet tab boiler_generator_assn to pandas DataFrame for 2017.
Extracting data from EIA 860 utilities spreadsheet for 2017.
Converting EIA 860 spreadsheet tab utility to pandas DataFrame for 2017.
Extracting data from EIA 860 plants spreadsheet for 2017.
Converting EIA 860 spreadsheet tab plant to pandas DataFrame for 2017.
Extracting data from EIA 860 generators spreadsheet for 2017.
Converting EIA 860 spreadsheet tab generator_existing to pandas DataFrame for 2017.
Converting EIA 860 spreadsheet tab generator_proposed to pandas DataFrame for 2017.
Converting EIA 860 spreadsheet tab generator_retired to pandas DataFrame for 2017.
Extracting data from EIA 860 ownership spreadsheet for 2017.
Converting EIA 860 spreadsheet tab ownership to pandas DataFrame for 2017.
Not transforming generation_fuel_eia923
Transforming raw EIA 923 DataFrames for boiler_fuel_eia923 concatenated across all years.
Transforming raw EIA 923 DataFrames for generation_eia923 concatenated across all years.
Not transforming coalmine_eia923
Not transforming fuel_receipts_costs_eia923
Transforming raw EIA 860 DataFrames for ownership_eia860 concatenated across all years.
Transforming raw EIA 860 DataFrames for generators_eia860 concatenated across all years.
Transforming raw EIA 860 DataFrames for plants_eia860 concatenated across all years.
Transforming raw EIA 860 DataFrames for boiler_generator_assn_eia860 concatenated across all years.
Transforming raw EIA 860 DataFrames for utilities_eia860 concatenated across all years.
Harvesting IDs & consistently static attributes for EIA plants
Average consistency of static plants values is 100.00%
/Users/christinagosnell/anaconda/envs/pudl/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)
Harvesting IDs & consistently static attributes for EIA generators
Average consistency of static generators values is 100.00%
Harvesting IDs & consistently static attributes for EIA utilities
Average consistency of static utilities values is 100.00%
Harvesting IDs & consistently static attributes for EIA boilers
Average consistency of static boilers values is 97.58%
Inferring complete EIA boiler-generator associations.
Multiple EIA unit codes:plant_id_eia=10725, unit_id_pudl=1, unit_id_eia=['F801' 'F802']
Multiple EIA unit codes:plant_id_eia=55309, unit_id_pudl=1, unit_id_eia=['SMR1' 'SMR2']
Multiple EIA unit codes:plant_id_eia=60786, unit_id_pudl=1, unit_id_eia=[4343 4141]
Loading Entities plants_entity_eia dataframe into CSV
Loading Entities generators_entity_eia dataframe into CSV
Loading Entities utilities_entity_eia dataframe into CSV
Loading Entities boilers_entity_eia dataframe into CSV
Loading EIA ownership_eia860 dataframe into CSV
Loading EIA generators_eia860 dataframe into CSV
Loading EIA plants_eia860 dataframe into CSV
Loading EIA boiler_generator_assn_eia860 dataframe into CSV
Loading EIA utilities_eia860 dataframe into CSV
Loading EIA boiler_fuel_eia923 dataframe into CSV
Loading EIA generation_eia923 dataframe into CSV
Loading tables from EPA CEMS into PUDL:
Performing ETL for EPA CEMS hourly CO-2017-01
Performing ETL for EPA CEMS hourly CO-2017-02
Performing ETL for EPA CEMS hourly CO-2017-03
Performing ETL for EPA CEMS hourly CO-2017-04
Performing ETL for EPA CEMS hourly CO-2017-05
Performing ETL for EPA CEMS hourly CO-2017-06
Performing ETL for EPA CEMS hourly CO-2017-07
Performing ETL for EPA CEMS hourly CO-2017-08
Performing ETL for EPA CEMS hourly CO-2017-09
Performing ETL for EPA CEMS hourly CO-2017-10
Performing ETL for EPA CEMS hourly CO-2017-11
Performing ETL for EPA CEMS hourly CO-2017-12
===================== Dramatic Pause ====================
    Loading 639,480 records (93 MB) into PUDL.
================ Resume Number Crunching ================
    Loading    EPA CEMS took 00:00:20
Tables are consistent for epacems_eia860_pkg package
Data package data validation failed.

In [50]:
#ferc_vali = metas['ferc1_pkg'][1]
#ferc_meta = metas['ferc1-pkg'][0]
#eia_vali = metas['eia_pkg']
cems_vali = metas['epacems_eia860_pkg']

In [51]:
cems_vali[1]

{'time': 4.318,
 'valid': False,
 'error-count': 999,
 'table-count': 10,
 'tables': [{'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 3.448,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/boiler_fuel_eia923.csv',
   'headers': ['id',
    'plant_id_eia',
    'boiler_id',
    'fuel_type_code',
    'fuel_type_code_pudl',
    'report_date',
    'fuel_consumed_units',
    'fuel_mmbtu_per_unit',
    'sulfur_content_pct',
    'ash_content_pct'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 3.273,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/boiler_generator_assn_eia860.csv',
   'headers': ['id',
    'plant_id_eia',
    'report_date',
    'generator_id',
    'boiler_id',
    'unit_id_eia',
    'unit_id_pudl',
    'bga_source'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 0.219,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/boilers_entity_eia.csv',
   'headers': ['plant_id_eia', 'boiler_id', 'prime_mover_code'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 0.02,
   'valid': True,
   'error-count': 0,
   'row-count': 21,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/energy_source_eia923.csv',
   'headers': ['abbr', 'source'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 0.003,
   'valid': True,
   'error-count': 0,
   'row-count': 19,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/fuel_type_aer_eia923.csv',
   'headers': ['abbr', 'fuel_type'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 0.078,
   'valid': True,
   'error-count': 0,
   'row-count': 43,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/fuel_type_eia923.csv',
   'headers': ['abbr', 'fuel_type', 'fuel_unit'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 3.43,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/generation_eia923.csv',
   'headers': ['id',
    'plant_id_eia',
    'generator_id',
    'report_date',
    'net_generation_mwh'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 3.85,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/generators_eia860.csv',
   'headers': ['id',
    'plant_id_eia',
    'generator_id',
    'report_date',
    'operational_status_code',
    'operational_status',
    'ownership_code',
    'capacity_mw',
    'summer_capacity_mw',
    'winter_capacity_mw',
    'energy_source_code_1',
    'energy_source_code_2',
    'energy_source_code_3',
    'energy_source_code_4',
    'energy_source_code_5',
    'energy_source_code_6',
    'fuel_type_code_pudl',
    'multiple_fuels',
    'deliver_power_transgrid',
    'syncronized_transmission_grid',
    'turbines_num',
    'planned_modifications',
    'planned_net_summer_capacity_uprate_mw',
    'planned_net_winter_capacity_uprate_mw',
    'planned_uprate_date',
    'planned_net_summer_capacity_derate_mw',
    'planned_net_winter_capacity_derate_mw',
    'planned_derate_date',
    'planned_new_prime_mover_code',
    'planned_energy_source_code_1',
    'planned_repower_date',
    'other_planned_modifications',
    'other_modifications_date',
    'planned_retirement_date',
    'carbon_capture',
    'startup_source_code_1',
    'startup_source_code_2',
    'startup_source_code_3',
    'startup_source_code_4',
    'technology_description',
    'turbines_inverters_hydrokinetics',
    'time_cold_shutdown_full_load_code',
    'planned_new_capacity_mw',
    'cofire_fuels',
    'switch_oil_gas',
    'nameplate_power_factor',
    'minimum_load_mw',
    'uprate_derate_during_year',
    'uprate_derate_completed_date',
    'current_planned_operating_date',
    'summer_estimated_capability_mw',
    'winter_estimated_capability_mw',
    'operating_switch',
    'retirement_date'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 3.483,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/generators_entity_eia.csv',
   'headers': ['plant_id_eia',
    'generator_id',
    'prime_mover_code',
    'duct_burners',
    'operating_date',
    'topping_bottoming_code',
    'solid_fuel_gasification',
    'pulverized_coal_tech',
    'fluidized_bed_tech',
    'subcritical_tech',
    'supercritical_tech',
    'ultrasupercritical_tech',
    'stoker_tech',
    'other_combustion_tech',
    'heat_bypass_recovery',
    'rto_iso_lmp_node_id',
    'rto_iso_location_wholesale_reporting_id',
    'associated_combined_heat_power',
    'original_planned_operating_date',
    'operating_switch',
    'previously_canceled'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/datapackage.json',
   'time': 1.169,
   'valid': False,
   'error-count': 999,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/epacems_eia860_pkg/data/hourly_emissions_epacems.csv',
   'headers': ['id',
    'state',
    'plant_id_eia',
    'unitid',
    'operating_datetime_utc',
    'operating_time_hours',
    'gross_load_mw',
    'steam_load_1000_lbs',
    'so2_mass_lbs',
    'so2_mass_measurement_code',
    'nox_rate_lbs_mmbtu',
    'nox_rate_measurement_code',
    'nox_mass_lbs',
    'nox_mass_measurement_code',
    'co2_mass_tons',
    'co2_mass_measurement_code',
    'heat_content_mmbtu',
    'facility_id',
    'unit_id_epa'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': [{'code': 'type-or-format-error',
     'row-number': 2,
     'column-number': 5,
     'message': 'The value "2016-12-31T17:00:00" in row 2 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T17:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 3,
     'column-number': 5,
     'message': 'The value "2016-12-31T18:00:00" in row 3 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T18:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 4,
     'column-number': 5,
     'message': 'The value "2016-12-31T19:00:00" in row 4 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T19:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 5,
     'column-number': 5,
     'message': 'The value "2016-12-31T20:00:00" in row 5 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T20:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 6,
     'column-number': 5,
     'message': 'The value "2016-12-31T21:00:00" in row 6 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T21:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 7,
     'column-number': 5,
     'message': 'The value "2016-12-31T22:00:00" in row 7 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T22:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 8,
     'column-number': 5,
     'message': 'The value "2016-12-31T23:00:00" in row 8 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2016-12-31T23:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 9,
     'column-number': 5,
     'message': 'The value "2017-01-01T00:00:00" in row 9 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T00:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 10,
     'column-number': 5,
     'message': 'The value "2017-01-01T01:00:00" in row 10 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T01:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 11,
     'column-number': 5,
     'message': 'The value "2017-01-01T02:00:00" in row 11 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T02:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 12,
     'column-number': 5,
     'message': 'The value "2017-01-01T03:00:00" in row 12 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T03:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 13,
     'column-number': 5,
     'message': 'The value "2017-01-01T04:00:00" in row 13 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T04:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 14,
     'column-number': 5,
     'message': 'The value "2017-01-01T05:00:00" in row 14 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T05:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 15,
     'column-number': 5,
     'message': 'The value "2017-01-01T06:00:00" in row 15 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T06:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 16,
     'column-number': 5,
     'message': 'The value "2017-01-01T07:00:00" in row 16 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T07:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 17,
     'column-number': 5,
     'message': 'The value "2017-01-01T08:00:00" in row 17 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T08:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 18,
     'column-number': 5,
     'message': 'The value "2017-01-01T09:00:00" in row 18 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T09:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 19,
     'column-number': 5,
     'message': 'The value "2017-01-01T10:00:00" in row 19 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T10:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 20,
     'column-number': 5,
     'message': 'The value "2017-01-01T11:00:00" in row 20 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T11:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 21,
     'column-number': 5,
     'message': 'The value "2017-01-01T12:00:00" in row 21 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T12:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 22,
     'column-number': 5,
     'message': 'The value "2017-01-01T13:00:00" in row 22 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T13:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 23,
     'column-number': 5,
     'message': 'The value "2017-01-01T14:00:00" in row 23 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T14:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 24,
     'column-number': 5,
     'message': 'The value "2017-01-01T15:00:00" in row 24 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T15:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 25,
     'column-number': 5,
     'message': 'The value "2017-01-01T16:00:00" in row 25 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T16:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 26,
     'column-number': 5,
     'message': 'The value "2017-01-01T17:00:00" in row 26 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T17:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 27,
     'column-number': 5,
     'message': 'The value "2017-01-01T18:00:00" in row 27 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T18:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 28,
     'column-number': 5,
     'message': 'The value "2017-01-01T19:00:00" in row 28 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T19:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 29,
     'column-number': 5,
     'message': 'The value "2017-01-01T20:00:00" in row 29 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T20:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 30,
     'column-number': 5,
     'message': 'The value "2017-01-01T21:00:00" in row 30 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T21:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 31,
     'column-number': 5,
     'message': 'The value "2017-01-01T22:00:00" in row 31 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T22:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 32,
     'column-number': 5,
     'message': 'The value "2017-01-01T23:00:00" in row 32 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-01T23:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 33,
     'column-number': 5,
     'message': 'The value "2017-01-02T00:00:00" in row 33 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T00:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 34,
     'column-number': 5,
     'message': 'The value "2017-01-02T01:00:00" in row 34 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T01:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 35,
     'column-number': 5,
     'message': 'The value "2017-01-02T02:00:00" in row 35 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T02:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 36,
     'column-number': 5,
     'message': 'The value "2017-01-02T03:00:00" in row 36 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T03:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 37,
     'column-number': 5,
     'message': 'The value "2017-01-02T04:00:00" in row 37 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T04:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 38,
     'column-number': 5,
     'message': 'The value "2017-01-02T05:00:00" in row 38 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T05:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 39,
     'column-number': 5,
     'message': 'The value "2017-01-02T06:00:00" in row 39 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T06:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 40,
     'column-number': 5,
     'message': 'The value "2017-01-02T07:00:00" in row 40 and column 5 is not type "datetime" and format "default"',
     'message-data': {'value': '2017-01-02T07:00:00',
      'field_type': 'datetime',
      'field_format': 'default'}},
    {'code': 'type-or-format-error',
     'row-number': 41,
     'column-number': 5,

In [46]:
glue_vali = metas['glue_pkg']

In [48]:
glue_vali[1]

{'time': 1.406,
 'valid': False,
 'error-count': 1999,
 'table-count': 7,
 'tables': [{'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/glue_pkg/datapackage.json',
   'time': 0.848,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/glue_pkg/data/plants.csv',
   'headers': ['plant_id_pudl', 'name'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/glue_pkg/datapackage.json',
   'time': 0.961,
   'valid': True,
   'error-count': 0,
   'row-count': 1000,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/glue_pkg/data/plants_eia.csv',
   'headers': ['plant_id_eia', 'plant_name', 'plant_id_pudl'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': []},
  {'datapackage': '/Users/christinagosnell/code/pudl/results/datapackage/glue_pkg/datapackage.json',
   'time': 0.13,
   'valid': False,
   'error-count': 1000,
   'row-count': 585,
   'source': '/Users/christinagosnell/code/pudl/results/datapackage/glue_pkg/data/plants_ferc.csv',
   'headers': ['utility_id_ferc1', 'plant_name', 'plant_id_pudl'],
   'format': 'inline',
   'schema': 'table-schema',
   'errors': [{'code': 'required-constraint',
     'row-number': 2,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 2 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 2,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 2 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 3,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 3 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 3,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 3 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 4,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 4 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 4,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 4 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 5,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 5 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 5,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 5 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 6,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 6 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 6,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 6 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 7,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 7 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 7,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 7 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 8,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 8 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 8,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 8 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 9,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 9 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 9,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 9 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 10,
     'message': 'Row 10 is duplicated to row(s) 9',
     'message-data': {'row_numbers': '9'}},
    {'code': 'duplicate-row',
     'row-number': 11,
     'message': 'Row 11 is duplicated to row(s) 9, 10',
     'message-data': {'row_numbers': '9, 10'}},
    {'code': 'required-constraint',
     'row-number': 12,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 12 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 12,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 12 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 13,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 13 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 13,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 13 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 14,
     'message': 'Row 14 is duplicated to row(s) 12',
     'message-data': {'row_numbers': '12'}},
    {'code': 'required-constraint',
     'row-number': 15,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 15 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 15,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 15 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 16,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 16 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 16,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 16 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 17,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 17 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 17,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 17 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 18,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 18 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 18,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 18 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 19,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 19 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 19,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 19 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 20,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 20 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 20,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 20 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 21,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 21 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 21,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 21 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 22,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 22 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 22,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 22 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 23,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 23 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 23,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 23 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 24,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 24 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 24,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 24 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 25,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 25 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 25,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 25 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 26,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 26 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 26,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 26 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 27,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 27 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 27,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 27 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 28,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 28 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 28,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 28 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 29,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 29 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 29,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 29 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 30,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 30 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 30,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 30 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 31,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 31 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 31,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 31 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 32,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 32 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 32,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 32 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 33,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 33 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 33,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 33 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 34,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 34 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 34,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 34 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 35,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 35 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 35,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 35 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 36,
     'message': 'Row 36 is duplicated to row(s) 13',
     'message-data': {'row_numbers': '13'}},
    {'code': 'duplicate-row',
     'row-number': 37,
     'message': 'Row 37 is duplicated to row(s) 13, 36',
     'message-data': {'row_numbers': '13, 36'}},
    {'code': 'required-constraint',
     'row-number': 38,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 38 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 38,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 38 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 39,
     'message': 'Row 39 is duplicated to row(s) 38',
     'message-data': {'row_numbers': '38'}},
    {'code': 'required-constraint',
     'row-number': 40,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 40 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 40,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 40 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 41,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 41 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 41,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 41 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 42,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 42 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 42,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 42 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 43,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 43 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 43,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 43 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 44,
     'message': 'Row 44 is duplicated to row(s) 43',
     'message-data': {'row_numbers': '43'}},
    {'code': 'required-constraint',
     'row-number': 45,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 45 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 45,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 45 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 46,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 46 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 46,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 46 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 47,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 47 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 47,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 47 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 48,
     'message': 'Row 48 is duplicated to row(s) 47',
     'message-data': {'row_numbers': '47'}},
    {'code': 'required-constraint',
     'row-number': 49,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 49 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 49,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 49 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 50,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 50 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 50,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 50 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 51,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 51 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 51,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 51 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 52,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 52 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 52,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 52 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 53,
     'message': 'Row 53 is duplicated to row(s) 49',
     'message-data': {'row_numbers': '49'}},
    {'code': 'duplicate-row',
     'row-number': 54,
     'message': 'Row 54 is duplicated to row(s) 49, 53',
     'message-data': {'row_numbers': '49, 53'}},
    {'code': 'required-constraint',
     'row-number': 55,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 55 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 55,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 55 has no value',
     'message-data': {}},
    {'code': 'duplicate-row',
     'row-number': 56,
     'message': 'Row 56 is duplicated to row(s) 55',
     'message-data': {'row_numbers': '55'}},
    {'code': 'required-constraint',
     'row-number': 57,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 57 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 57,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 57 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 58,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 58 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 58,
     'column-number': 2,
     'message': 'Column 2 is a required field, but row 58 has no value',
     'message-data': {}},
    {'code': 'required-constraint',
     'row-number': 59,
     'column-number': 1,
     'message': 'Column 1 is a required field, but row 59 has no value',
     'message-data': {}},
    {'code': 'required-constraint',

In [ ]:
metas.keys()

In [ ]:
cems_vali = metas['epacems_eia860_pkg']

In [ ]:
cems_vali

In [ ]:
pc.tab_map_eia923.columns

In [ ]:
pc.pudl_tables['eia923']

- the main coordinating function is pudl.output.export.generate_data_packages()
    - uses settings:
        -yml file (ex: ‘settings_init_pudl_package.yml’) and settings.py
    - validates settings using `pudl.ETL_pkg._input_validate`... this spits out a new, validated list of package settings
    - then for each of the of the packages definied in settings, run the ETL_pkg function which runs a data source specific function for each dataset. The ETL_pgk function needs the settings/inputs. In a stand-alone version of this function these can be validated settings or non-validated settings. The settings will get re-validated immediately inside of the data source specific ETL function. These ETL functions generate CSVs in the out_dir/(package name)/data folder.
    - an output of the ETL_pkg function is a list of tables being generated. this list is piped through to a `test_file_consistency` function, which ensures the ETL tables, the CSVs and dependencies from the metadata
    - then the `generate_metadata` function is run. at a high level, this generates and validates the `datapackage.json` file and runs `goodtables.validate`.