In [1]:
import sys, os
sys.path.append('/Users/zaneselvans/code/catalyst/pudl')
sys.path.append('/Users/christinagosnell/code/pudl')
sys.path.append('/Users/Nannerz/Desktop/working/pudl/')
sys.path.append('/home/alana/Dropbox/catalyst/pudl/')
sys.path.append(os.path.abspath(os.path.join('..','..')))
from pudl import ferc1, pudl, models, models_ferc1, settings, constants, eia860, models_eia860
from pudl.eia860 import get_eia860_page
from pudl.eia860 import get_eia860_xlsx, get_eia860_column_map
# from pudl.eia923 import get_eia923_plants
from pudl.pudl import *
from pudl.constants import tab_map_eia860
import numpy as np
import pandas as pd
from pandas import DataFrame
import csv
import sqlalchemy as sa
from sqlalchemy import create_engine
from sqlalchemy.sql import select
from sqlalchemy import Integer, String, Numeric, Boolean, Float

In [2]:
pudl_engine  = pudl.db_connect_pudl()

In [4]:
gen_eia860 = pd.read_sql('''SELECT generator_id, plant_id, nameplate_capacity_mw, year \
                            FROM generators_eia860''', pudl_engine)

In [6]:
plants_eia = pd.read_sql('''SELECT plant_id_pudl, plant_id \
                            FROM plants_eia''', pudl_engine)

In [13]:
gen_eia923 = pd.read_sql('''SELECT report_date, net_generation_mwh, plant_id, generator_id
                            FROM generation_eia923''', pudl_engine)

In [16]:
gen_eia923["report_date"] = pd.to_datetime(gen_eia923.report_date)

In [17]:
# Examining data at annual scale here, so only creating year field
gen_eia923["year"] = gen_eia923["report_date"].dt.year
gen_eia923["month"] = gen_eia923["report_date"].dt.month

In [ ]:
WHERE generators_eia860.generator_id = generation_eia923.generator_id 
AND generators_eia860.plant_id = plants_eia.plant_id

In [27]:
full_gen = pd.merge(gen_eia860, gen_eia923, on = ['plant_id', 'generator_id', 'year'])

In [28]:
merge = pd.merge(full_gen, plants_eia, on = ['plant_id'])

In [29]:
merge

,generator_id,plant_id,nameplate_capacity_mw,year,report_date,net_generation_mwh,month,plant_id_pudl
0,GEN1,10867,62.0,2011,2011-01-01,28813.000,1,3458
1,GEN1,10867,62.0,2011,2011-02-01,24913.000,2,3458
2,GEN1,10867,62.0,2011,2011-03-01,11112.000,3,3458
3,GEN1,10867,62.0,2011,2011-04-01,18486.000,4,3458
4,GEN1,10867,62.0,2011,2011-05-01,32136.000,5,3458
5,GEN1,10867,62.0,2011,2011-06-01,30695.000,6,3458
6,GEN1,10867,62.0,2011,2011-07-01,30234.000,7,3458
7,GEN1,10867,62.0,2011,2011-08-01,31061.000,8,3458
8,GEN1,10867,62.0,2011,2011-09-01,13271.000,9,3458
9,GEN1,10867,62.0,2011,2011-10-01,14624.000,10,3458
10,GEN1,10867,62.0,2011,2011-11-01,17650.000,11,3458
11,GEN1,10867,62.0,2011,2011-12-01,18133.000,12,3458
12,GEN1,10867,62.0,2012,2012-01-01,32374.000,1,3458
13,GEN1,10867,62.0,2012,2012-02-01,31310.000,2,3458
14,GEN1,10867,62.0,2012,2012-03-01,26093.000,3,3458
15,GEN1,10867,62.0,2012,2012-04-01,19503.000,4,3458
16,GEN1,10867,62.0,2012,2012-05-01,9750.000,5,3458
17,GEN1,10867,62.0,2012,2012-06-01,16988.000,6,3458
18,GEN1,10867,62.0,2012,2012-07-01,18622.000,7,3458
19,GEN1,10867,62.0,2012,2012-08-01,17910.000,8,3458
20,GEN1,10867,62.0,2012,2012-09-01,19827.000,9,3458
21,GEN1,10867,62.0,2012,2012-10-01,5893.000,10,3458
22,GEN1,10867,62.0,2012,2012-11-01,23335.000,11,3458
23,GEN1,10867,62.0,2012,2012-12-01,19602.000,12,3458
24,GEN1,10867,62.0,2013,2013-01-01,26474.511,1,3458
25,GEN1,10867,62.0,2013,2013-02-01,14794.382,2,3458
26,GEN1,10867,62.0,2013,2013-03-01,33894.749,3,3458
27,GEN1,10867,62.0,2013,2013-04-01,15917.933,4,3458
28,GEN1,10867,62.0,2013,2013-05-01,28013.872,5,3458
29,GEN1,10867,62.0,2013,2013-06-01,32917.163,6,3458
...,...,...,...,...,...,...,...,...
205890,TG2,60084,7.5,2015,2015-07-01,3328.217,7,7583
205891,TG2,60084,7.5,2015,2015-08-01,2756.282,8,7583
205892,TG2,60084,7.5,2015,2015-09-01,2279.358,9,7583
205893,TG2,60084,7.5,2015,2015-10-01,2608.175,10,7583
205894,TG2,60084,7.5,2015,2015-11-01,2496.396,11,7583
205895,TG2,60084,7.5,2015,2015-12-01,2386.480,12,7583
205896,TG3,60084,52.3,2015,2015-01-01,20364.256,1,7583
205897,TG3,60084,52.3,2015,2015-02-01,19130.962,2,7583
205898,TG3,60084,52.3,2015,2015-03-01,21161.613,3,7583
205899,TG3,60084,52.3,2015,2015-04-01,20893.343,4,7583
205900,TG3,60084,52.3,2015,2015-05-01,22143.404,5,7583
205901,TG3,60084,52.3,2015,2015-06-01,21703.740,6,7583
205902,TG3,60084,52.3,2015,2015-07-01,24405.996,7,7583
205903,TG3,60084,52.3,2015,2015-08-01,22103.350,8,7583
205904,TG3,60084,52.3,2015,2015-09-01,20304.641,9,7583
205905,TG3,60084,52.3,2015,2015-10-01,19542.681,10,7583
205906,TG3,60084,52.3,2015,2015-11-01,19818.403,11,7583
205907,TG3,60084,52.3,2015,2015-12-01,19914.346,12,7583
205908,G-1,60100,11.5,2015,2015-01-01,5954.000,1,7586
205909,G-1,60100,11.5,2015,2015-02-01,4012.000,2,7586
205910,G-1,60100,11.5,2015,2015-03-01,2086.000,3,7586
205911,G-1,60100,11.5,2015,2015-04-01,5728.000,4,7586
205912,G-1,60100,11.5,2015,2015-05-01,6413.000,5,7586
205913,G-1,60100,11.5,2015,2015-06-01,3747.000,6,7586
205914,G-1,60100,11.5,2015,2015-07-01,5403.000,7,7586
205915,G-1,60100,11.5,2015,2015-08-01,4848.000,8,7586
205916,G-1,60100,11.5,2015,2015-09-01,4100.000,9,7586
205917,G-1,60100,11.5,2015,2015-10-01,590.000,10,7586
205918,G-1,60100,11.5,2015,2015-11-01,0.000,11,7586
205919,G-1,60100,11.5,2015,2015-12-01,0.000,12,7586

In [33]:
merge = merge.set_index(pd.DatetimeIndex(merge['report_date']))

In [58]:
merge_annual = merge.groupby(by=['plant_id', 'plant_id_pudl', pd.TimeGrouper(freq='A'),'generator_id', 'nameplate_capacity_mw'])

In [59]:
merge_annual.head()

,generator_id,plant_id,nameplate_capacity_mw,year,report_date,net_generation_mwh,month,plant_id_pudl
report_date,,,,,,,,
2011-01-01,GEN1,10867,62.0,2011,2011-01-01,28813.000,1,3458
2011-02-01,GEN1,10867,62.0,2011,2011-02-01,24913.000,2,3458
2011-03-01,GEN1,10867,62.0,2011,2011-03-01,11112.000,3,3458
2011-04-01,GEN1,10867,62.0,2011,2011-04-01,18486.000,4,3458
2011-05-01,GEN1,10867,62.0,2011,2011-05-01,32136.000,5,3458
2012-01-01,GEN1,10867,62.0,2012,2012-01-01,32374.000,1,3458
2012-02-01,GEN1,10867,62.0,2012,2012-02-01,31310.000,2,3458
2012-03-01,GEN1,10867,62.0,2012,2012-03-01,26093.000,3,3458
2012-04-01,GEN1,10867,62.0,2012,2012-04-01,19503.000,4,3458
2012-05-01,GEN1,10867,62.0,2012,2012-05-01,9750.000,5,3458
2013-01-01,GEN1,10867,62.0,2013,2013-01-01,26474.511,1,3458
2013-02-01,GEN1,10867,62.0,2013,2013-02-01,14794.382,2,3458
2013-03-01,GEN1,10867,62.0,2013,2013-03-01,33894.749,3,3458
2013-04-01,GEN1,10867,62.0,2013,2013-04-01,15917.933,4,3458
2013-05-01,GEN1,10867,62.0,2013,2013-05-01,28013.872,5,3458
2014-01-01,GEN1,10867,62.0,2014,2014-01-01,17784.958,1,3458
2014-02-01,GEN1,10867,62.0,2014,2014-02-01,18710.860,2,3458
2014-03-01,GEN1,10867,62.0,2014,2014-03-01,21554.702,3,3458
2014-04-01,GEN1,10867,62.0,2014,2014-04-01,20071.768,4,3458
2014-05-01,GEN1,10867,62.0,2014,2014-05-01,30574.329,5,3458
2015-01-01,GEN1,10867,62.0,2015,2015-01-01,26588.479,1,3458
2015-02-01,GEN1,10867,62.0,2015,2015-02-01,27954.045,2,3458
2015-03-01,GEN1,10867,62.0,2015,2015-03-01,18090.487,3,3458
2015-04-01,GEN1,10867,62.0,2015,2015-04-01,13765.574,4,3458
2015-05-01,GEN1,10867,62.0,2015,2015-05-01,11386.546,5,3458
2011-01-01,GEN1,10671,175.0,2011,2011-01-01,94912.000,1,3368
2011-02-01,GEN1,10671,175.0,2011,2011-02-01,63684.000,2,3368
2011-03-01,GEN1,10671,175.0,2011,2011-03-01,54441.000,3,3368
2011-04-01,GEN1,10671,175.0,2011,2011-04-01,24715.000,4,3368
2011-05-01,GEN1,10671,175.0,2011,2011-05-01,88020.000,5,3368
...,...,...,...,...,...,...,...,...
2015-01-01,STG-1,58079,285.0,2015,2015-01-01,NaN,1,6271
2015-02-01,STG-1,58079,285.0,2015,2015-02-01,NaN,2,6271
2015-03-01,STG-1,58079,285.0,2015,2015-03-01,NaN,3,6271
2015-04-01,STG-1,58079,285.0,2015,2015-04-01,NaN,4,6271
2015-05-01,STG-1,58079,285.0,2015,2015-05-01,NaN,5,6271
2015-01-01,GEN1,59658,30.2,2015,2015-01-01,NaN,1,7398
2015-02-01,GEN1,59658,30.2,2015,2015-02-01,NaN,2,7398
2015-03-01,GEN1,59658,30.2,2015,2015-03-01,NaN,3,7398
2015-04-01,GEN1,59658,30.2,2015,2015-04-01,NaN,4,7398
2015-05-01,GEN1,59658,30.2,2015,2015-05-01,NaN,5,7398
2015-01-01,TG1,60084,10.1,2015,2015-01-01,5594.535,1,7583
2015-02-01,TG1,60084,10.1,2015,2015-02-01,4632.305,2,7583
2015-03-01,TG1,60084,10.1,2015,2015-03-01,3627.226,3,7583
2015-04-01,TG1,60084,10.1,2015,2015-04-01,3397.148,4,7583
2015-05-01,TG1,60084,10.1,2015,2015-05-01,3218.301,5,7583
2015-01-01,TG2,60084,7.5,2015,2015-01-01,0.000,1,7583
2015-02-01,TG2,60084,7.5,2015,2015-02-01,567.278,2,7583
2015-03-01,TG2,60084,7.5,2015,2015-03-01,2113.553,3,7583
2015-04-01,TG2,60084,7.5,2015,2015-04-01,2216.017,4,7583
2015-05-01,TG2,60084,7.5,2015,2015-05-01,2433.986,5,7583
2015-01-01,TG3,60084,52.3,2015,2015-01-01,20364.256,1,7583
2015-02-01,TG3,60084,52.3,2015,2015-02-01,19130.962,2,7583
2015-03-01,TG3,60084,52.3,2015,2015-03-01,21161.613,3,7583
2015-04-01,TG3,60084,52.3,2015,2015-04-01,20893.343,4,7583
2015-05-01,TG3,60084,52.3,2015,2015-05-01,22143.404,5,7583
2015-01-01,G-1,60100,11.5,2015,2015-01-01,5954.000,1,7586
2015-02-01,G-1,60100,11.5,2015,2015-02-01,4012.000,2,7586
2015-03-01,G-1,60100,11.5,2015,2015-03-01,2086.000,3,7586
2015-04-01,G-1,60100,11.5,2015,2015-04-01,5728.000,4,7586
2015-05-01,G-1,60100,11.5,2015,2015-05-01,6413.000,5,7586

In [60]:
merge_summed = merge_annual.agg({'net_generation_mwh':np.sum})

In [65]:
#need to check on how nameplate_capacity_mw is being handled by generator and by year...

                                                                       net_generation_mwh
plant_id plant_id_pudl report_date generator_id nameplate_capacity_mw
3        32            2011-12-31  1            153.1                            312130.0
                                   2            153.1                            191475.0
                                   3            272.0                            710069.0
                                   4            403.7                           1175685.0
                                   5            788.8                           2264413.0

In [ ]:
gen_eia860 = pd.read_sql('''SELECT generators_eia860.generator_id, generators_eia860.plant_id, \
                            generators_eia860.nameplate_capacity_mw, generators_eia860.year, \
                            plants_eia.plant_id_pudl, plants_eia.plant_id, \
                            generation_eia923.report_date, generation_eia923.net_generation_mwh, \
                            generation_eia923.generator_id \
                            FROM generators_eia860, plants_eia, generation_eia923 \
                            WHERE generators_eia860.generator_id = generation_eia923.generator_id AND generators_eia860.plant_id = plants_eia.plant_id''', pudl_engine)

In [ ]:
gen_eia860

In [18]:
g_tbl = models.PUDLBase.metadata.tables['generation_eia923']
g_select = sa.sql.select([g_tbl,]) #creates a sql Select object
g = pd.read_sql(g_select, pudl_engine) #converts sql object to pandas dataframe
g = g.set_index(pd.DatetimeIndex(g['report_date']))
g_gb = g.groupby(by=['plant_id',pd.TimeGrouper(freq='A'),'generator_id'])
g_summed = g_gb.agg({'net_generation_mwh':np.sum})

In [19]:
g_summed

                                   net_generation_mwh
plant_id report_date generator_id
3        2009-12-31  1                     221908.000
                     2                     394031.000
                     3                    1286393.000
                     4                    1626547.000
                     5                    4513101.000
                     A1ST                 1122697.000
                     A2ST                 1033733.000
         2010-12-31  1                     435334.000
                     2                     538495.000
                     3                     906322.000
                     4                    1873386.000
                     5                    4080795.000
                     A1ST                 1310126.000
                     A2ST                 1295497.000
         2011-12-31  1                     312130.000
                     2                     191475.000
                     3                     710069.000
                     4                    1175685.000
                     5                    2264413.000
                     A1ST                 1397495.000
                     A2ST                 1381781.000
         2012-12-31  1                     152102.000
                     2                     123410.000
                     3                     496557.000
                     4                    1142699.000
                     5                    3404379.000
                     A1ST                 1415104.000
                     A2ST                 1435969.000
         2013-12-31  1                      30627.000
                     2                      73425.000
...                                               ...
59338    2015-12-31  CTG1                  284928.000
                     CTG2                  310098.000
                     CTG3                  373291.000
                     CTG4                  409549.000
                     ST10                  442976.000
                     ST9                   363287.000
         2016-12-31  CTG1                  352863.000
                     CTG2                  168324.000
                     CTG3                  218810.000
                     CTG4                  281232.000
                     ST10                  339927.000
                     ST9                   319657.000
59658    2015-12-31  GEN1                   35466.000
59784    2014-12-31  CTG5                      37.000
                     CTG6                     660.000
                     ST11                     384.000
         2015-12-31  CTG5                  600085.000
                     CTG6                  704458.000
                     ST11                  866090.000
         2016-12-31  CTG5                  602776.000
                     CTG6                  738478.000
                     ST11                  892986.000
59884    2014-12-31  STG-1                      0.000
                     STG-2                   1835.000
         2015-12-31  STG-1                      0.000
                     STG-2                      0.000
60084    2015-12-31  TG1                    38892.542
                     TG2                    25675.617
                     TG3                   251486.735
60100    2015-12-31  G-1                    42881.000

[27030 rows x 1 columns]