In [1]:
import sys
import os
import numpy as np
import pandas as pd
import sqlalchemy as sa
sys.path.append(os.path.abspath(os.path.join('..','..','..')))
from pudl import pudl, ferc1, eia923, settings, constants
from pudl import models, models_ferc1, models_eia923
from pudl import clean_eia923, clean_ferc1, clean_pudl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pudl_engine  = pudl.db_connect_pudl()

In [3]:
#Pull in the generation table
g_tbl = models.PUDLBase.metadata.tables['generation_eia923']
g_select = sa.sql.select([g_tbl,]) #creates a sql Select object
g = pd.read_sql(g_select, pudl_engine) #converts sql object to pandas dataframe

In [4]:
g = g.set_index(pd.DatetimeIndex(g['report_date']))
g_gb = g.groupby(by=['plant_id',pd.TimeGrouper(freq='A'),'generator_id'])
g_summed = g_gb.agg({'net_generation_mwh':np.sum})

In [5]:
g_summed.reset_index(inplace=True)

In [6]:
g_summed

       plant_id report_date generator_id  net_generation_mwh
0             3  2009-12-31            1          221908.000
1             3  2009-12-31            2          394031.000
2             3  2009-12-31            3         1286393.000
3             3  2009-12-31            4         1626547.000
4             3  2009-12-31            5         4513101.000
5             3  2009-12-31         A1ST         1122697.000
6             3  2009-12-31         A2ST         1033733.000
7             3  2010-12-31            1          435334.000
8             3  2010-12-31            2          538495.000
9             3  2010-12-31            3          906322.000
10            3  2010-12-31            4         1873386.000
11            3  2010-12-31            5         4080795.000
12            3  2010-12-31         A1ST         1310126.000
13            3  2010-12-31         A2ST         1295497.000
14            3  2011-12-31            1          312130.000
15            3  2011-12-31            2          191475.000
16            3  2011-12-31            3          710069.000
17            3  2011-12-31            4         1175685.000
18            3  2011-12-31            5         2264413.000
19            3  2011-12-31         A1ST         1397495.000
20            3  2011-12-31         A2ST         1381781.000
21            3  2012-12-31            1          152102.000
22            3  2012-12-31            2          123410.000
23            3  2012-12-31            3          496557.000
24            3  2012-12-31            4         1142699.000
25            3  2012-12-31            5         3404379.000
26            3  2012-12-31         A1ST         1415104.000
27            3  2012-12-31         A2ST         1435969.000
28            3  2013-12-31            1           30627.000
29            3  2013-12-31            2           73425.000
...         ...         ...          ...                 ...
26976     59338  2015-12-31         CTG4          409549.000
26977     59338  2015-12-31         ST10          442976.000
26978     59338  2015-12-31          ST9          363287.000
26979     59338  2016-12-31         CTG1          352966.000
26980     59338  2016-12-31         CTG2          168324.000
26981     59338  2016-12-31         CTG3          218810.000
26982     59338  2016-12-31         CTG4          281232.000
26983     59338  2016-12-31         ST10          339927.000
26984     59338  2016-12-31          ST9          319721.000
26985     59658  2015-12-31         GEN1           35466.000
26986     59784  2014-12-31         CTG5              37.000
26987     59784  2014-12-31         CTG6             660.000
26988     59784  2014-12-31         ST11             384.000
26989     59784  2015-12-31         CTG5          600085.000
26990     59784  2015-12-31         CTG6          704458.000
26991     59784  2015-12-31         ST11          866090.000
26992     59784  2016-12-31         CTG5          647756.000
26993     59784  2016-12-31         CTG6          781011.000
26994     59784  2016-12-31         ST11          958134.000
26995     59884  2014-12-31        STG-1               0.000
26996     59884  2014-12-31        STG-2            1835.000
26997     59884  2015-12-31        STG-1               0.000
26998     59884  2015-12-31        STG-2               0.000
26999     60084  2015-12-31          TG1           38892.542
27000     60084  2015-12-31          TG2           25675.617
27001     60084  2015-12-31          TG3          251486.735
27002     60100  2015-12-31          G-1           42881.000
27003     60768  2016-12-31         CTG3           61681.000
27004     60768  2016-12-31         CTG4           10104.000
27005     60768  2016-12-31         ST10           48106.000

[27006 rows x 4 columns]

In [7]:
#Pull in the generator_eia860 table
g8_tbl = models.PUDLBase.metadata.tables['generators_eia860']
g8_select = sa.sql.select([g8_tbl,]) #creates a sql Select object
g8 = pd.read_sql(g8_select, pudl_engine) #converts sql object to pandas dataframe

In [8]:
g8 = g8[['plant_id','generator_id', 'energy_source_1']]
g8 = g8.rename(columns={'energy_source_1': 'energy_source'})
g8.drop_duplicates(['plant_id','generator_id'], inplace=True)

In [9]:
net_gen = g_summed.merge(g8, how='left', on=['plant_id','generator_id'])

In [10]:
net_gen

       plant_id report_date generator_id  net_generation_mwh energy_source
0             3  2009-12-31            1          221908.000           BIT
1             3  2009-12-31            2          394031.000           BIT
2             3  2009-12-31            3         1286393.000           BIT
3             3  2009-12-31            4         1626547.000           BIT
4             3  2009-12-31            5         4513101.000           BIT
5             3  2009-12-31         A1ST         1122697.000            NG
6             3  2009-12-31         A2ST         1033733.000            NG
7             3  2010-12-31            1          435334.000           BIT
8             3  2010-12-31            2          538495.000           BIT
9             3  2010-12-31            3          906322.000           BIT
10            3  2010-12-31            4         1873386.000           BIT
11            3  2010-12-31            5         4080795.000           BIT
12            3  2010-12-31         A1ST         1310126.000            NG
13            3  2010-12-31         A2ST         1295497.000            NG
14            3  2011-12-31            1          312130.000           BIT
15            3  2011-12-31            2          191475.000           BIT
16            3  2011-12-31            3          710069.000           BIT
17            3  2011-12-31            4         1175685.000           BIT
18            3  2011-12-31            5         2264413.000           BIT
19            3  2011-12-31         A1ST         1397495.000            NG
20            3  2011-12-31         A2ST         1381781.000            NG
21            3  2012-12-31            1          152102.000           BIT
22            3  2012-12-31            2          123410.000           BIT
23            3  2012-12-31            3          496557.000           BIT
24            3  2012-12-31            4         1142699.000           BIT
25            3  2012-12-31            5         3404379.000           BIT
26            3  2012-12-31         A1ST         1415104.000            NG
27            3  2012-12-31         A2ST         1435969.000            NG
28            3  2013-12-31            1           30627.000           BIT
29            3  2013-12-31            2           73425.000           BIT
...         ...         ...          ...                 ...           ...
26976     59338  2015-12-31         CTG4          409549.000            NG
26977     59338  2015-12-31         ST10          442976.000            NG
26978     59338  2015-12-31          ST9          363287.000            NG
26979     59338  2016-12-31         CTG1          352966.000            NG
26980     59338  2016-12-31         CTG2          168324.000            NG
26981     59338  2016-12-31         CTG3          218810.000            NG
26982     59338  2016-12-31         CTG4          281232.000            NG
26983     59338  2016-12-31         ST10          339927.000            NG
26984     59338  2016-12-31          ST9          319721.000            NG
26985     59658  2015-12-31         GEN1           35466.000           WDS
26986     59784  2014-12-31         CTG5              37.000            NG
26987     59784  2014-12-31         CTG6             660.000            NG
26988     59784  2014-12-31         ST11             384.000            NG
26989     59784  2015-12-31         CTG5          600085.000            NG
26990     59784  2015-12-31         CTG6          704458.000            NG
26991     59784  2015-12-31         ST11          866090.000            NG
26992     59784  2016-12-31         CTG5          647756.000            NG
26993     59784  2016-12-31         CTG6          781011.000            NG
26994     59784  2016-12-31         ST11          958134.000            NG
26995     59884  2014-12-31        STG-1               0.000           OTH
26996     59884  2014-12-31        STG-2            1835.000           OTH
26997     59884  2015-12-31        STG-1               0.000           OTH
26998     59884  2015-12-31        STG-2               0.000           OTH
26999     60084  2015-12-31          TG1           38892.542           WDS
27000     60084  2015-12-31          TG2           25675.617           WDS
27001     60084  2015-12-31          TG3          251486.735           BLQ
27002     60100  2015-12-31          G-1           42881.000           WDS
27003     60768  2016-12-31         CTG3           61681.000           NaN
27004     60768  2016-12-31         CTG4           10104.000           NaN
27005     60768  2016-12-31         ST10           48106.000           NaN

[27006 rows x 5 columns]

In [11]:
#Pull in the fuel_receipts table
frc_tbl = models.PUDLBase.metadata.tables['fuel_receipts_costs_eia923']
frc_select = sa.sql.select([frc_tbl,]) #creates a sql Select object
frc = pd.read_sql(frc_select, pudl_engine) #converts sql object to pandas dataframe

In [12]:
frc = frc.set_index(pd.DatetimeIndex(frc['report_date']))
frc_gb = frc.groupby(by=['plant_id',pd.TimeGrouper(freq='A'),'energy_source'])
frc_summed = frc_gb.agg({'fuel_cost':np.sum})

In [13]:
frc_summed = frc_summed.reset_index()

In [14]:
fuel_cost_per_mwh = net_gen.merge(frc_summed,how='left',on=['plant_id','report_date','energy_source'])

In [15]:
fuel_cost_per_mwh['fuel_cost_per_mwh'] = fuel_cost_per_mwh['fuel_cost'] / fuel_cost_per_mwh['net_generation_mwh']

In [16]:
fuel_cost_per_mwh

,plant_id,report_date,generator_id,net_generation_mwh,energy_source,fuel_cost,fuel_cost_per_mwh
0,3,2009-12-31,1,221908.000,BIT,17954.9,0.080911
1,3,2009-12-31,2,394031.000,BIT,17954.9,0.045567
2,3,2009-12-31,3,1286393.000,BIT,17954.9,0.013958
3,3,2009-12-31,4,1626547.000,BIT,17954.9,0.011039
4,3,2009-12-31,5,4513101.000,BIT,17954.9,0.003978
5,3,2009-12-31,A1ST,1122697.000,NG,10352.0,0.009221
6,3,2009-12-31,A2ST,1033733.000,NG,10352.0,0.010014
7,3,2010-12-31,1,435334.000,BIT,19198.2,0.044100
8,3,2010-12-31,2,538495.000,BIT,19198.2,0.035652
9,3,2010-12-31,3,906322.000,BIT,19198.2,0.021183
10,3,2010-12-31,4,1873386.000,BIT,19198.2,0.010248
11,3,2010-12-31,5,4080795.000,BIT,19198.2,0.004705
12,3,2010-12-31,A1ST,1310126.000,NG,11388.8,0.008693
13,3,2010-12-31,A2ST,1295497.000,NG,11388.8,0.008791
14,3,2011-12-31,1,312130.000,BIT,13984.4,0.044803
15,3,2011-12-31,2,191475.000,BIT,13984.4,0.073035
16,3,2011-12-31,3,710069.000,BIT,13984.4,0.019694
17,3,2011-12-31,4,1175685.000,BIT,13984.4,0.011895
18,3,2011-12-31,5,2264413.000,BIT,13984.4,0.006176
19,3,2011-12-31,A1ST,1397495.000,NG,10283.0,0.007358
20,3,2011-12-31,A2ST,1381781.000,NG,10283.0,0.007442
21,3,2012-12-31,1,152102.000,BIT,10983.3,0.072210
22,3,2012-12-31,2,123410.000,BIT,10983.3,0.088998
23,3,2012-12-31,3,496557.000,BIT,10983.3,0.022119
24,3,2012-12-31,4,1142699.000,BIT,10983.3,0.009612
25,3,2012-12-31,5,3404379.000,BIT,10983.3,0.003226
26,3,2012-12-31,A1ST,1415104.000,NG,7265.0,0.005134
27,3,2012-12-31,A2ST,1435969.000,NG,7265.0,0.005059
28,3,2013-12-31,1,30627.000,BIT,7945.9,0.259441
29,3,2013-12-31,2,73425.000,BIT,7945.9,0.108218
...,...,...,...,...,...,...,...
26976,59338,2015-12-31,CTG4,409549.000,NG,NaN,NaN
26977,59338,2015-12-31,ST10,442976.000,NG,NaN,NaN
26978,59338,2015-12-31,ST9,363287.000,NG,NaN,NaN
26979,59338,2016-12-31,CTG1,352966.000,NG,NaN,NaN
26980,59338,2016-12-31,CTG2,168324.000,NG,NaN,NaN
26981,59338,2016-12-31,CTG3,218810.000,NG,NaN,NaN
26982,59338,2016-12-31,CTG4,281232.000,NG,NaN,NaN
26983,59338,2016-12-31,ST10,339927.000,NG,NaN,NaN
26984,59338,2016-12-31,ST9,319721.000,NG,NaN,NaN
26985,59658,2015-12-31,GEN1,35466.000,WDS,NaN,NaN
26986,59784,2014-12-31,CTG5,37.000,NG,566.8,15.318919
26987,59784,2014-12-31,CTG6,660.000,NG,566.8,0.858788
26988,59784,2014-12-31,ST11,384.000,NG,566.8,1.476042
26989,59784,2015-12-31,CTG5,600085.000,NG,7016.6,0.011693
26990,59784,2015-12-31,CTG6,704458.000,NG,7016.6,0.009960
26991,59784,2015-12-31,ST11,866090.000,NG,7016.6,0.008101
26992,59784,2016-12-31,CTG5,647756.000,NG,4971.4,0.007675
26993,59784,2016-12-31,CTG6,781011.000,NG,4971.4,0.006365
26994,59784,2016-12-31,ST11,958134.000,NG,4971.4,0.005189
26995,59884,2014-12-31,STG-1,0.000,OTH,NaN,NaN
26996,59884,2014-12-31,STG-2,1835.000,OTH,NaN,NaN
26997,59884,2015-12-31,STG-1,0.000,OTH,NaN,NaN
26998,59884,2015-12-31,STG-2,0.000,OTH,NaN,NaN
26999,60084,2015-12-31,TG1,38892.542,WDS,NaN,NaN
27000,60084,2015-12-31,TG2,25675.617,WDS,NaN,NaN
27001,60084,2015-12-31,TG3,251486.735,BLQ,NaN,NaN
27002,60100,2015-12-31,G-1,42881.000,WDS,NaN,NaN
27003,60768,2016-12-31,CTG3,61681.000,NaN,NaN,NaN
27004,60768,2016-12-31,CTG4,10104.000,NaN,NaN,NaN
27005,60768,2016-12-31,ST10,48106.000,NaN,NaN,NaN